.main{
    width: 100%;
    height: 100vh;
  
    overflow: hidden;
    background: linear-gradient(to right,#9c27b0 , #8ecdff );
}
.header{
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    color: purple;
}

.card{
    width: 340px;
    height: 440px;
    margin: 60px auto;
    background-color:whitesmoke;
    border-radius: 20px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 0%;
 
  
}

.box{
    background-color: inherit;
    float: left;
    width: 150px;
    font-size: 14px;
    margin: 8px 2px;
    font-family: cursive;
    padding: 5px;
    text-align: center;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    outline: none;
    
}

.lab {
    background-color: inherit;
    float: left;
    font-size: 14px;
    margin: 14px 20px;
    font-family: cursive;

    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    outline: none;
}

#button{
    background: linear-gradient(to right,#9c27b0 , #8ecdff );
    border-radius: 10px;
    width: 170px;
    font-size: 14px;

    margin: 10px 90px;
    background-color: cadetblue;
    color: whitesmoke;
    float: left;
    
    cursor: pointer;
}

#reset{
    background: linear-gradient(to right,#9c27b0 , #8ecdff );
    border-radius: 10px;
    width: 170px;
    font-size: 14px;
    margin: 10px 90px;
    background-color: cadetblue;
    color: whitesmoke;
    float: left;
    cursor: pointer;
}
.ars{
    
    float: right;
    width: 150px;
    font-size: 14px;
    margin: 15px auto;
    font-family: cursive;
    padding: 0px;
    
}